<h1>Adicione um usuário!</h1>
<form action="/users/register" method="POST" class="form">
    <div class="form-control">
        <label for="cpf">CPF:</label>
        <input type="text" name="cpf" placeholder="Digite o seu CPF">
    </div>
    </br>
    <div class="form-control">
        <label for="mail">E-mail:</label>
        <input type="text" name="mail" placeholder="Digite o seu e-mail">
    </div>
    </br>
    <div class="form-control">
        <label for="name">Nome completo:</label>
        <input type="text" name="name" placeholder="Digite o seu nome completo">
    </div>
    </br>
    <div class="form-control">
        <label for="cell_phone">Celular:</label>
        <input type="text" name="cell_phone" placeholder="Digite o seu celular">
    </div>
    </br>
    <div class="form-control">
        <label for="birth_date">Data de nascimento:</label>
        <input type="date" name="birth_date" placeholder="Digite o sua data de nascimento">
    </div>
    </br>
    <div class="form-control">
        <label for="age">Idade:</label>
        <input type="text" name="age" placeholder="Digite a sua idade">
    </div>
    </br>
    <div class="form-control">
        <label for="postal_code">CEP:</label>
        <input type="text" name="postal_code" placeholder="Digite o seu CEP">
    </div>
    </br>
    <div class="form-control">
        <label for="street_name">Endereço:</label>
        <input type="text" name="street_name" placeholder="Digite o seu endereço">
    </div>
    </br>
    <div class="form-control">
        <label for="house_number">Número:</label>
        <input type="text" name="house_number" placeholder="Digite o núemro da sua casa">
    </div>
    </br>
    <div class="form-control">
        <label for="complement">Complemento:</label>
        <input type="text" name="complement" placeholder="Digite o seu complemento">
    </div>
    </br>
    <div class="form-control">
        <label for="neighborhood">Bairro:</label>
        <input type="text" name="neighborhood" placeholder="Digite o seu bairro">
    </div>
    </br>
    <div class="form-control">
        <label for="city">Cidade:</label>
        <input type="text" name="city" placeholder="Digite a sua cidade">
    </div>
    </br>
    <div class="form-control">
        <label for="state">Estado:</label>
        <input type="text" name="state" placeholder="Digite o seu estado">
    </div>
    </br>
    <input type="submit" value="Cadastrar">
</form>