<h1>Bem vindo ao Marketplace</h1>
<p>O que você deseja visualizar?</p>
<ul>
    <li><a href="/users">Usuários</a></li>
    <li><a href="/markets">Supermercados</a></li>
    <li><a href="/pharmacies">Farmácias</a></li>
    <li><a href="/autoParts">Auto Peças</a></li>
</ul>