<nav id="navbar">
    <h2>Bem vindo ao Marketplace</h2>
    
    <p>O que você deseja visualizar?</p>

    <ul>
        <li><a href="../views/users/all.handlebars">Usuários</a></li>
        <li><a href="../views/markets/all.handlebars">Supermercados</a></li>
        <li><a href="../views/pharmacies/all.handlebars">Farmácias</a></li>
        <li><a href="../views/autoParts/all.handlebars">Auto Peças</a></li>
        <li><a href="../views/categories/all.handlebars">Categorias</a></li>
        <li><a href="../views/subcategories/all.handlebars">Subcategorias</a></li>
        <li><a href="../views/products/all.handlebars">Produtos</a></li>
    </ul>
</nav>
