<nav>
    <h2>Editando a categoria: {{categories.name}}</h2>
    <p><a href="/categories">Voltar</a></p>
</nav>
<form action="/categories/edit" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o seu nome completo">
    </div>
</form>