<nav>
    <h2>Editando a auto peça: {{autoparts.name}}</h2>
    <p><a href="/autoparts">Voltar</a></p>
</nav>
<form action="/autoparts/edit" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o seu nome completo">
    </div>
    </br>
    <div class="form-control">
        <label for="phone_number">Telefone:</label>
        <input type="text" name="phone_number" placeholder="Digite o seu celular">
    </div>
    </br>
    <div class="form-control">
        <label for="open_close_monday_friday">Horário Segunda a Sexta:</label>
        <input type="text" name="open_close_monday_friday" placeholder="Digite o horário de funcionamento de segunda a sexta">
    </div>
    </br>
    <div class="form-control">
        <label for="open_monday_friday">Horário aos Sábados':</label>
        <input type="text" name="close_monday_friday" placeholder="Digite o horário de funcionamento aos sábados">
    </div>
    </br>
    <div class="form-control">
        <label for="age">Horário os Domingos e Feriados:</label>
        <input type="text" name="open_saturday" placeholder="Digite o horário de abertura aos domingos e feriados">
    </div>
    </br>
    <div class="form-control">
        <label for="postal_code">CEP:</label>
        <input type="text" name="postal_code" placeholder="Digite o seu CEP">
    </div>
    </br>
    <div class="form-control">
        <label for="street_name">Endereço:</label>
        <input type="text" name="street_name" placeholder="Digite o seu endereço">
    </div>
    </br>
    <div class="form-control">
        <label for="house_number">Número:</label>
        <input type="text" name="house_number" placeholder="Digite o núemro da sua casa">
    </div>
    </br>
    <div class="form-control">
        <label for="complement">Complemento:</label>
        <input type="text" name="complement" placeholder="Digite o seu complemento">
    </div>
    </br>
    <div class="form-control">
        <label for="neighborhood">Bairro:</label>
        <input type="text" name="neighborhood" placeholder="Digite o seu bairro">
    </div>
    </br>
    <div class="form-control">
        <label for="city">Cidade:</label>
        <input type="text" name="city" placeholder="Digite a sua cidade">
    </div>
    </br>
    <div class="form-control">
        <label for="state">Estado:</label>
        <input type="text" name="state" placeholder="Digite o seu estado">
    </div>
    </br>
    <input type="submit" value="Salvar">
</form>