<h1>Supermercados</h1>
<p><a href="/markets/create">Cadastar</a></p>

<ul class="user-list">
    {{#each markets}}
        <li>
            {{this.title}}
        </li>
    {{/each}}
</ul>
</br>
<p><a href="/">Voltar</a></p>