<nav id="navbar">
    <h2>Usuários</h2>

    <p><a href="/">Voltar</a></p>

    <p><a href="/users/create">Cadastar</a></p>

</nav>
<ul class="list">
    {{#if emptyUsers}}
        <h3>Não há usuários cadastrados</h3>
    {{/if}}
    {{#each users}}
        <li>
            {{this.name}}
        </li>
        <span class="actions">
            <a href="/users/edit/{{this.id}}"><i class="bi bi-pencil-square"></i></a> 
            <form action="/users/remove" method="post">
                <input type="hidden" name="id" value="{{this.id}}">
                <button type="submit">
                    <i class="bi bi-x-lg"></i>
                </button>
            </form>
        </span>
    {{/each}}
</ul>