<nav>
    <h2>Editando o produto: {{products.name}}</h2>
    <p><a href="/products">Voltar</a></p>
</nav>
<form action="/products/edit" method="POST" class="form">
    <div class="form-control">
        <label for="name">Nome:</label>
        <input type="text" name="name" placeholder="Digite o nome do produto">
    </div>
    <div class="form-control">
        <label for="brand">Marca:</label>
        <input type="text" name="brand" placeholder="Digite a marca do produto">
    </div>
    <div class="form-control">
        <label for="description">Descrição:</label>
        <input type="text" name="description" placeholder="Digite a descrição do produto">
    </div>
    <div class="form-control">
        <label for="weight">Horário aos Sábados':</label>
        <input type="text" name="weight" placeholder="Digite o peso do produto">
    </div>
    <div class="form-control">
        <label for="adults_product">Produto para adultos?</label>
        <input type="text" name="adults_product" placeholder="Este é um produto 18+">
    </div>
    <div class="form-control">
        <label for="adults_product">Subcategoria</label>
        <input type="text" name="adults_product" placeholder="Este é um produto 18+">
    </div>
    <input type="submit" value="Salvar">
</form>